<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :release_date, "Release Date", style: "display: block" %>

    <label for="release_day">Day:</label>
    <%= form.number_field :release_day, value: movie.release_date&.day, min: 1, max: 31 %>

    <label for="release_month">Month:</label>
    <%= form.select :release_month, Date::MONTHNAMES.compact.each_with_index.map { |month, i| [month, i + 1] }, selected: movie.release_date&.month %>

    <label for="release_year">Year:</label>
    <%= form.number_field :release_year, value: movie.release_date&.year, min: 1900, max: Time.current.year + 10 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
