<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th class="<%= 'sorted-asc' if @sort_by == 'title' && @direction == 'asc' %>
                    <%= 'sorted-desc' if @sort_by == 'title' && @direction == 'desc' %>">
          <%= link_to "Title", movies_path(column: 'title') %>
          <% if @sort_by == 'title' %>
            <%= @direction == 'asc' ? " ↑" : " ↓" %>
          <% end %>
        </th>
        <th class="<%= 'sorted-asc' if @sort_by == 'rating' && @direction == 'asc' %>
                    <%= 'sorted-desc' if @sort_by == 'rating' && @direction == 'desc' %>">
          <%= link_to "Rating", movies_path(column: 'rating') %>
          <% if @sort_by == 'rating' %>
            <%= @direction == 'asc' ? " ↑" : " ↓" %>
          <% end %>
        </th>
        <th class="<%= 'sorted-asc' if @sort_by == 'release_date' && @direction == 'asc' %>
                    <%= 'sorted-desc' if @sort_by == 'release_date' && @direction == 'desc' %>">
          <%= link_to "Release Date", movies_path(column: 'release_date') %>
          <% if @sort_by == 'release_date' %>
            <%= @direction == 'asc' ? " ↑" : " ↓" %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, movie_path(movie) %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date.strftime("%d %B, %Y") if movie.release_date.present? %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" style="text-align: center;">
          <%= link_to "New movie", new_movie_path %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
